# Don’t commit the following directories created by pub.
.buildlog
.pub/
build/
packages
.packages
.flutter-plugins

# Or the files created by dart2js.
*.dart.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock


# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

\.DS_Store
ios/Flutter/Generated.xcconfig
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/local.properties
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
